@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Inter", "Roboto", Arial, Helvetica, sans-serif;
  --font-size-base: 1rem;
  --line-height-base: 1.75rem;
  --color-dark: #171717;
  --color-light-gray: #d9d9d9;
  --color-transparent-dark-blue: #00005506;
  --color-white: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-dark);
}

img {
  max-width: 100%;
  height: auto;
}
