/* Resuelve estilos de seccion de categorias aqui */

.section {
  max-width: 1280px;
  text-align: left;
  margin: 0 auto;
  padding: 0 56px;
}

.section__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.section__intro {
  font-size: 1rem;
  font-weight: 400;
  color: hsla(220, 6%, 40%, 1);
  max-width: 768px;
  margin-bottom: 40px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}

.card {
  flex-basis: 328px;
  flex-grow: 1;
}

.card__img {
  max-width: 100%;
  min-height: 480px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 3/2;
}

.card__title {
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0 8px 0;
}

.card__desc {
  font-size: 14px;
  font-weight: 400;
  color: hsla(220, 6%, 40%, 1);
}

/* this runs when the screen is smaller than 768px */
@media (max-width: 768px) {
  .section__title {
    font-size: 24px;
  }
}
